*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    color: #748f80;
    box-sizing: border-box;
    
}

img{
    max-width: 400px;
    border-radius: 5px;
}

.imgHolder {
    max-width:400px;
    display: flex;
    justify-content: center;
}

h1{
    font-size:50px
}

span {
    display:block;
    padding-top:10px
}

*{
    text-align: center;
    
}

body{
    margin-left:20%;
    margin-right:20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #e3e0cf
}

.invisible{
    display:none
}

.today{
    margin-bottom: 20px;
    height:40px;
    width: 200px;
    font-size: 20px;
    
}

.calendar {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.submit{
    height:44px;
    font-size: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
   
}

p, span {
    font-size: 20px;
    font-weight: bold;
}

.submit, .today, .calendar > input {
    color:black
}

h2{
    font-size: 40px;
}

button, input {
    background-color: #c5d5cb;
    border: 3px solid #748f80;
    border-radius: 5px;
}

input{
    height:44px;
    font-size: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(205, 221, 221);
}

p{
    line-height: 1.5;
    text-justify:newspaper;
}

h4{
    margin-top:15px;
    font-size: 20px;
}

iframe{
    width:100%;
    max-width: 665px;
    
    height:400px;
}

.vidHolder{
    width: 100%
}

.date{
    margin-bottom:10px
}